.cont{
  background-color: rgba(85, 180, 66, 0.904);
  height: 30cm;
  position: relative;
  z-index: 20;
   
}

.cont h1{
  color:black;
}

.model{
  position: relative;
  z-index: 30;
  margin-top: -40%;
  height: 20cm;
}

canvas{
  height: 100vh;
  width: 40%;
}