/* App.css */
.full {
  position: relative;
  height: 100vh;
}

.cont {
  height: 100vh; /* Full screen for the "cont" div */
  background-color: rgba(55, 62, 65, 0.233);
  position: relative;
  margin-bottom: 0%;
  z-index: 1; /* Ensure the model appears on top of this */
}

.model {
  position: absolute; /* Position it absolutely to overlay above the cont div */
  top: 0;
  left: 0;
  margin-left: 20%;
  margin-top: 0%;
  width: 100%;
  height: 120%; /* Ensure the model takes full screen height */
  z-index: 0; /* Make sure the model stays above the content */
}

canvas {
  display: block; /* Remove extra spacing */
  width: 100%;
  height: 100%;
  position: absolute;
}

h2 {
  margin-top: 50px;
  text-align: center;
}
